@import "./typography.css";
body {
  margin: 0;
  padding: 0;
}

a.navlink {
  opacity: 44%;
}

a.navlink:hover {
  opacity: 66%;
}

.blur {
  background-color: rgba(255, 255, 255, 0.95);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .blur {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.4);
  }
  .warning {
    display: none;
  }
  .solidTile {
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("../images/blurredBG.png"); */
  }
  .window {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("../images/background.png");
  }
  .totalBlur {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    /* background-color: rgba(0, 0, 0, 0.1); */
  }
  .windowFrame {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-filter: invert(100%);

    /* filter: invert(100%);
    /* background-color: rgba(0, 0, 0, 0.1); */
  }
  /* .clearBlur {
    background-color: rgba(255, 255, 255, 0) !important;
  } */
}

.skewOne {
  -moz-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}
.skewTwo {
  -moz-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}
.skewThree {
  -moz-transform: skewY(-45deg);
  -webkit-transform: skewY(-45deg);
  transform: skewY(-45deg);
}
.skewFour {
  -moz-transform: skewY(-45deg);
  -webkit-transform: skewY(-45deg);
  transform: skewY(-45deg);
}

a {
  cursor: "pointer";
}
